# Development dependencies, on top of requirements.txt:
#   $ pip install -r requirements.txt -r requirements-dev.txt
#   $ python -m spacy download es_core_news_md   # needed by the CRF tests

# Tests
pytest
pytest-cov

# Formatting and linting (see tests/pre_commit.sh)
black
flake8
isort
mypy

# Docs
sphinx>=5.0,<8
sphinx_rtd_theme

# Release
build
twine
